.container {
  padding: 20px;
  font-family: sans-serif;
  background-color: #f8f9fa; /* Fundo leve para destacar os cards */
  min-height: 100vh;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

.btnNovo {
  background-color: #17e381;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
  transition: background-color 0.2s;
}

.btnNovo:hover {
  background-color: #27ae60;
}

/* Grid System */
.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #e0e0e0;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.cardHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.iconWrapper {
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardTitle {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  word-break: break-word;
  line-height: 1.3;
}

.actionsRow {
  display: flex;
  gap: 10px;
  margin-top: auto;
}

.btnAcessar {
  flex: 1;
  background-color: #1769e3;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  transition: background-color 0.2s;
  display: flex;
  justify-content: center;
  
}

.btnAcessar:hover {
  background-color: #145dbf;
}

.btnDelete {
  width: 35px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.btnDelete:hover {
  background-color: #c0392b;
}

.emptyState {
  color: #999;
  font-style: italic;
  margin-top: 20px;
}

.paginationWrapper {
  margin-top: 40px;
}
